.black {
   background-color: #222222;
}

.gray {
   background-color: #9B9B9B;
}

.lightGray {
   background-color: #D4D4D4;
}

.white {
   background-color: #FFFFFF;
}

.lightWhite {
   background-color: #F9F9F9;
}

.error {
   background-color: #F01F0E;
}

.primary {
   background-color: #DB3022;
}

.success {
   background-color: #2AA952;
}